<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>261215984705-6jbeon7aon1618kts19m9qd8tp5qr33a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261215984705-6jbeon7aon1618kts19m9qd8tp5qr33a</string>
	<key>API_KEY</key>
	<string>AIzaSyCiMGZNkRYFFWWi3ry5mxHFIg8TFBCobBY</string>
	<key>GCM_SENDER_ID</key>
	<string>261215984705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.mapchat</string>
	<key>PROJECT_ID</key>
	<string>testchat-413a4</string>
	<key>STORAGE_BUCKET</key>
	<string>testchat-413a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261215984705:ios:fea7d2b7dc0f2a8c</string>
	<key>DATABASE_URL</key>
	<string>https://testchat-413a4.firebaseio.com</string>
</dict>
</plist>